/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Poppins', sans-serif;
    }
    li {
        @apply p-2
    }

    button {
        @apply text-white border bg-zinc-600 px-4 py-2 text-center
        hover:bg-sky-400 hover:text-white rounded-md
    }

    .test {
        @apply text-white border bg-zinc-600 px-12 py-6 text-center
        hover:bg-sky-400 hover:text-white rounded-md
    }
}